.buttons-container-module-info {
    padding-left: 25px;
    padding-top: 15px;
    display: flex;
    gap: 435px;
    width: 100%;
}

.card-style {
    min-width: 420px;
}

.extra-module-buttons {
    display: flex;
    gap: 15px;
}

.edit-button {
    cursor: pointer;
    align-self: center;
}

.deactivation-button {
    cursor: pointer;
}


.activation-button {
    cursor: pointer;
}

.trash-button {
    align-self: center;
    cursor: pointer;
}

.bi-chevron-left {
    -webkit-text-stroke: 1px;
    text-align: center;
    align-items: center;
    text-decoration: underline;
    color: black;
}

.bi-eye-slash {
    -webkit-text-stroke: 0.35px;
    color: black;
    font-size: 20px;
}

.bi-eye {
    -webkit-text-stroke: 0.35px;
    color: black;
    font-size: 20px;
}

.bi-trash {
    -webkit-text-stroke: 0.35px;
    color: black;
    font-size: 18px;
}

.bi-pencil-square {
    color: black;
    -webkit-text-stroke: 1px;
}

.module-info-container {
    display: flex;
    justify-content: space-between;
    align-items: top center;
    gap: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}

#card-column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#description-text {
    flex: 1;
}

button {
    width: 300px;
}

.text-area {
    width: 100%;
    height: 80vh;
    border-width: 0px;
    box-shadow: inset -3px 0px 6px 6px rgba(0, 0, 0, 0.2);
    resize: none;
    border-radius: 22px;
    padding: 12px;
    outline: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

.module-tile {
    background-color: rgb(177, 210, 073);

    &:hover {
        background-color: rgb(177, 210, 073);
        transform: scale(1);
    }
}

.ingangseisen-tile {
    background-color: rgb(069, 185, 124);

    &:hover {
        background-color: rgb(069, 185, 124);
        transform: scale(1);
    }
}

.module-tile .module-title {
    text-align: left;
    max-width: 100vw;
    font-size: 25px;
}

.module-tile {
    font-size: 18px;
}

.text-area-container {
    position: relative;
    width: 100%;
}

.button-container-edit {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    gap: 30px;
}

.circle-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.circle-button.blue {
    background-color: #003366;
}

.circle-button.red {
    background-color: #dc3545;
}

.circle-button:hover {
    transform: scale(1.05);
}

.card-input {
    width: 80px;
    border-radius: 16px;
    height: 35px;
    border: none;
    box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    min-width: 130px;
}

.module-card-text {
    gap: 50px;
}

.module-info-column {
    display: flex;
    flex-direction: column;
}

.module-info-row {
    margin-bottom: 10px;
    /* control vertical spacing */
}

#go-back-button {
    cursor: pointer;
}

.title-module-card {
    margin-bottom: 25px;
    min-height: 70px !important;
}

.requirement-card-title-row {
    display: flex;
    justify-content: space-between;
}

.requirement-card-add-button {
    align-self: start;
    cursor: pointer;
}

.requirement-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    ;
}

.requirement-row p {
    max-width: 250px;
    align-self: center;
    margin-bottom: 0 !important;
}

.requirement-card-action-button {
    cursor: pointer;
    font-size: 25px;
}

.title-requirement-card {
    margin-bottom: 25px;
}

.text-area::-webkit-scrollbar-button {
    display: none;
}

.text-area::-webkit-scrollbar-corner {
    background: transparent;
}

.text-area::-webkit-scrollbar {
    width: 10px;
    transition: opacity 0.3s;
    background: transparent;
}

.text-area::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-area::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 0.3s;
    border-radius: 10px;
    margin-right: 5px;
    background-clip: padding-box;
    border: 0 solid transparent;
}

.scrolling::-webkit-scrollbar-thumb {
    background-color: rgb(177, 210, 073);
}

#evlSelectionHeader {
    font-weight: normal !important;
    font-style: normal !important;
    color: black;
}



/*-----------------------------mobile section----------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .buttons-container-module-info {
        gap: 250px;
    }

    .card-style {
        min-width: 0px;
    }

    .module-info-container {
        flex-direction: column;
        align-items: center;
        padding-left: 12px;
        padding-right: 5px;
    }

    #card-column {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 10;
    }

    #description-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .h4,
    h4 {
        font-size: 16px;
    }

    .title-module-card .title-requirement-card {
        text-align: left;
        font-size: 16px;
    }

    .card-style {
        padding: 20px 10px 10px 20px !important;
        max-width: 100vw;
        height: 100%;
        min-height: 151px;
    }

    .text-module-card,
    .text-requirement-card {
        flex: 1;
        font-size: 10px;
        width: 100%;
        margin-bottom: 20px;
        height: 100%;
        margin: 0;
    }

    .module-card-text {
        gap: 7px;
    }

    .bi-chevron-left {
        text-align: left;
    }

    .text-area {
        margin: 0;
    }

}