<link rel="stylesheet" href="../style/feedback.css">


<div class="container">
    <a href="#" class="back-link">← Terug naar overzicht</a> 
    <textarea class="feedback-box" placeholder="Typ hier je feedback..."></textarea>
    
    <div class="dummy-feedback-container">
        <div class="dummy-feedback-box">
            <div style="font-weight: bold; margin-bottom: 6px;">Student</div>
            Hier komt de feedback te staan
        </div>
    </div>
</div>

<button class="opslaan-btn">Opslaan</button>