<link rel="stylesheet" href="../style/learning-route.css">
<div class="learning-route-container">
    <di></di>
    <div class="learning-route-content">
        <div class="semester-grid">
        </div>
    </div>
    <div class="learning-route-actions">  
        <button class="btn btn-primary learning-route-action-button">Feedback aanvragen</button>
        <button class="btn btn-primary learning-route-action-button">Opslaan</button>
    </div>
</div>

<div class="top-right-buttons">
    <button class="circle-button blue"><i class="bi bi-download"></i></button>
    <button class="circle-button light-blue"><i class="bi bi bi-chat-dots"></i></button>
    <button class="circle-button red"><i class="bi bi-trash-fill"></i></button>
</div>