<link rel="stylesheet" href="../style/learning-route.css">
<div class="learning-route-container">
    <di></di>
    <div class="learning-route-content">
        <div class="semester-grid">
        </div>
    </div>
    <div class="learning-route-actions">  
        <button class="">Exporteren</button>
        <button class="learning-route-button">Verwijderen</button>
        <button class="learning-route-button">Feedback aanvragen</button>
        <button class="learning-route-button">Opslaan</button>
    </div>
</div>