<template>
    <div class="col-4 p-4">
        <div class="bg-info shadow rounded-3 p-5 d-flex flex-column justify-content-between h-100">
            <!-- header -->
            <div>
                <h4 module-name></h4>
            </div>
            
            <!-- body -->
            <div class="d-flex">
                <div class="w-50">
                    <p><b>code: </b><span module-code></span></p>
                    <p><b>semester: </b><span module-semester></span></p>
                </div>
                <div class="w-50">
                    <p><b>ec: </b><span module-ec></span></p>
                    <p><b>niveau: </b><span module-niveau></span></p>
                </div>
            </div>
            
        </div>
    </div>
</template>
